<%- include("partial_header.ejs"); %>

<body>
  
<div class="row">
  <div class="leftcol">
    <div class="bloc">
      <a href="/about">About us</a>
      <p>Get to know us a bit more!</p>
    </div>
    <div class="bloc">
      <a href="/shelters">Shelters</a>
      <p>Wondering where we work? Or where you can send your pets to have some playtime? Click here!</p>
    </div>
  </div>

  <div class="midcol">
    <div class="bloc">
      <h1>WELCOME TO THE FIRST WORLDWIDE SHELTER FOR ALL ANIMALS</h1> <br>

      <h2>Who are we?</h2>
      <p>In just a few words: <br> <br> We are a volonteer-based group of animal lovers around the world. We go out of our way to bring an amazing experience for your furry -or scaly- pets! <br>
      Originally founded in 2002 in the heart of Budapest, we celebrate our 22 years of opening in December! </p> <br> 

      <h2>What do we offer?</h2>
      <p>Welcome to United Animalia, a modern and very unique concept in animal boarding. <br>
      Here at United Animalia we provide pet boarding for dogs, cats, small and big animals! <br>
      Our facilities have been created to offer unrivalled comfort, and the highest possible standards of animal care.
      Situated in five different locations accross the world, we are considered the most prestigious pet shelter! 
      We proudly call it a pet hotel, as with such beautiful grounds, suites and leisure facilities such as a gym and grooming spa together with a highly trained team, the comparison is clear to see. <br>
      So when you book your pet, our guest, into United Animalia you can be confident they are going to have as good a time as you because they are on holiday too!
      </p>
    </div>
  </div>

  <%- include("partial_footer.ejs"); %>
