<%- include("partial_header.ejs"); %>


<div class="midcol">
    <div class="bloc">
        
    <h2>Login Form</h2>

    <form method="post" action="auth">
    <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <label>
      <input type="checkbox" checked="unchecked" name="admin"> Admin login
    </label>
    
    </div>

    <div class="clearfix">
        <btn type="button" class="cancelbtn">Cancel</btn>
        <button type="submit" class="signupbtn" >Log In</button>
    </div>
    </form>
</div>
</div>

<%- include("partial_footer.ejs"); %>
