<%- include("partial_header.ejs"); %>


  <div class="midcol">
    <div class="bloc">
      <p>Here you can update a client's information!</p>
      <form id="clientUpdate" action="/edit/client/finishupdate" method="post">
        ID: <input type="text" name="client_id"> <br><br>
        Name: <input type="text" name="client_name"><br><br>
        Email: <input type="text" name="client_email"><br><br>
        Password: <input type="text" name="client_password"><br><br>
        <input type="submit" onclick=""FUNCTION UPDATE CLIENT"" value="Submit">
      </form>
      
    </div>
  
  </div>

  <%- include("partial_footer.ejs"); %>
