<%- include("partial_header2.ejs"); %>


  <div class="midcol">
    <div class="bloc">
      <p>Please, give us the owner's ID you would like to remove from the database.</p> <br>
      <form id=clientDelete action="/Admin/client/finishdel" method="post">
        Enter owner ID: <input type="text" name="client_id"> <br>
        <input type="submit" onclick=""FONCTION DELETE CLIENT"" value="Submit">
      </form>
      <button style="background-color: rgb(0,0,0); width: 20%; position: center;" onclick="history.back()">Go Back</button>
    </div>
  </div>


  <%- include("partial_footer.ejs"); %>
