<%- include("partial_header.ejs"); %>

  <div class="midcol">
    <div class="bloc">
        <h1>Client Edition</h1>
        <a href="/edit/client/list"><button>List</button></a>
        <a href="/edit/client/add"><button>Add</button></a>
        <a href="/edit/client/del"><button>Delete</button></a>
        <a href="/edit/client/update"><button>Update</button></a>
    </div>
  </div>

  <%- include("partial_footer.ejs"); %>
