<%- include("partial_header.ejs"); %>

<div class="midcol">
    <div class="bloc">
        <h1>Shelter Edition</h1>
        <a href="/edit/shelter/list"><button>List</button></a>
        <a href="/edit/shelter/add"><button>Add</button></a>
        <a href="/edit/shelter/del"><button>Delete</button></a>
        <a href="/edit/shelter/update"><button>Update</button></a>
    </div>
  </div>


<%- include("partial_footer.ejs"); %>