<%- include("partial_header.ejs"); %>


  <div class="midcol">
    <div class="bloc">
        <h1>Staff Edition</h1>
        <a href="/edit/staff/list"><button>List</button></a>
        <a href="/edit/staff/add"><button>Add</button></a>
        <a href="/edit/staff/del"><button>Delete</button></a>
        <a href="/edit/staff/update"><button>Update</button></a>
    </div>
  </div>

<%- include("partial_footer.ejs"); %>
