<%- include("partial_header.ejs"); %>


  <div class="midcol">
    <div class="bloc">
        <h1>Pets Edition</h1>
        <a href="/edit/pet/list"><button>List</button></a>
        <a href="/edit/pet/add"><button>Add</button></a>
        <a href="/edit/pet/del"><button>Delete</button></a>
        <a href="/edit/pet/update"><button>Update</button></a>
        <a href="/edit/pet/asign"><button>Assign</button></a>
    </div>
  </div>

<%- include("partial_footer.ejs"); %>
