<%- include("partial_header.ejs"); %>


  <div class="midcol">
    <div class="bloc">
        <h1>Admin Section</h1>
        <a href="/edit/pet"><button>Pets</button></a>
        <a href="/edit/client"><button>Clients</button></a>
        <a href=""><button>Sheleters</button></a>
        <a href=""><button>Staff</button></a>

    </div>
  </div>

  <%- include("partial_footer.ejs"); %>
