<%- include("partial_header.ejs"); %>


<div class="midcol">
  <h2 style="text-align:center">Get to know us!</h2>
  <div class="bloc">
    <h1>Meet our staff!</h1>
    <h3>Our people are available everyday and are dedicated to taking care of your animals! <br>On this page you can select any staff member to see their specialties and what pets are they taking care of.</h3>
  </div>
    
    <div class="bloc">
      <img src="static/media/work1.jpg" height="350" width="300" id="img"> 
      <div class="box">
        <h2>Sandy Milkovich</h2>
        <div class="Occupation"> Occupation: Administration</div> 
        <div class="Location"> Location: Oslo</div><br>
        <p>Our first member is Sandy, located in Budapest she is a fan of furry friends as she has an army of them at home! <br> Beware of her! Your pets might want to stay a little longer! <br>Her email address : sandy@pet.com</p>
      </div>
    </div>
       
    <div class="bloc">
      <img src="static/media/work2.jpg" id="img"> 
      <div class="box">
        <h2>Mickael Topiol</h2>
        <div class="Occupation"> Occupation: Pets Care</div>
        <div class="Location"> Location: Oslo</div> <br>
        <p> We present to you our italian member Mickael, he's passionate about big mammals, so if you have a big animal at home, he'll take great care of them! <br> His morning routine is waking up at 5 AM, comes in the shop to take the big dogs for a run! <br>  His email address: mickael@pet.com  </p>
      </div>
    </div>
    
    <div class="bloc">
      <img src="static/media/work3.jpg" id="img"> 
      <div class="box">
        <h2>Leo Carpate</h2>
        <div class="Occupation"> Occupation: Pets Care</div>
        <div class="Location"> Location: Oslo</div> <br>
        <p> We present to you our italian member Mickael, he's passionate about big mammals, so if you have a big animal at home, he'll take great care of them! <br> His morning routine is waking up at 5 AM, comes in the shop to take the big dogs for a run! <br> His email address: leo@pet.com  </p>
      </div>
    </div>

    <div class="bloc">
      <img src="static/media/work4.jpg" id="img"> 
      <div class="box">
        <h2>Andrea Philips</h2>
        <div class="Occupation"> Occupation: Administration</div>
        <div class="Location"> Location: Budapest</div> <br>
        <p> Andrea is fond of exotic animals as they lived 15 years in South Africa! <br> Don't be fooled by their smile! They once coaxed an alligator to sleep! <br> They are also the manager of the store so if you have any enquiry, please report to them! <br> Their email address: andrea@pet.com</p>
      </div>
    </div>

      <div class="bloc">
        <img src="static/media/work5.jpg" id="img"> 
        <div class="box">
          <h2>Jojo Bonva</h2>
          <div class="Occupation"> Occupation: Pets Care</div>
          <div class="Location"> Location: Budapest</div><br>
          <p> We present to you our italian member Mickael, he's passionate about big mammals, so if you have a big animal at home, he'll take great care of them! <br> His morning routine is waking up at 5 AM, comes in the shop to take the big dogs for a run! <br> Her email address: jojo@pet.com </p>
        </div>
      </div>

      <div class="bloc">
        <img src="static/media/work6.jpg"id="img"> 
        <div class="box">
          <h2>Daisy Idris</h2>
          <div class="Occupation"> Occupation: Pets Care</div>
          <div class="Location"> Location: Budapest</div><br>
          <p> We present to you our italian member Mickael, he's passionate about big mammals, so if you have a big animal at home, he'll take great care of them! <br> His morning routine is waking up at 5 AM, comes in the shop to take the big dogs for a run! <br> Her email address: daisy@pet.com </p>
        </div>
      </div>

      <div class="bloc">
        <img src="static/media/work7.jpg" id="img"> 
        <div class="box">
          <h2>Victor Bouée</h2>
          <div class="Occupation"> Occupation: Administration</div>
          <div class="Location"> Location: London</div><br>
          <p> We present to you our italian member Mickael, he's passionate about big mammals, so if you have a big animal at home, he'll take great care of them! <br> His morning routine is waking up at 5 AM, comes in the shop to take the big dogs for a run! <br> His email address: victor@pet.com </p>
        </div>
      </div>

      <div class="bloc">
        <img src="static/media/work8.jpg"  id="img"> 
        <div class="box">
          <h2>Bethany Williams</h2>
          <div class="Occupation"> Occupation: Pets Care</div>
          <div class="Location"> Location: London</div><br>
          <p> We present to you our italian member Mickael, he's passionate about big mammals, so if you have a big animal at home, he'll take great care of them! <br> His morning routine is waking up at 5 AM, comes in the shop to take the big dogs for a run! <br> Her email address: bethany@pet.com</p>
        </div>
      </div>

      <div class="bloc">
        <img src="static/media/work9.jpg"  id="img"> 
        <div class="box">
          <h2>Josh Trent</h2>
          <div class="Occupation"> Occupation: Pets Care</div>
          <div class="Location"> Location: London</div><br>
          <p> We present to you our italian member Mickael, he's passionate about big mammals, so if you have a big animal at home, he'll take great care of them! <br> His morning routine is waking up at 5 AM, comes in the shop to take the big dogs for a run! <br> His email address: josh@pet.com </p>
        </div>
      </div>

      <div class="bloc">
        <img src="static/media/work10.jpg"  id="img"> 
        <div class="box">
          <h2>Liam Henly</h2>
          <div class="Occupation"> Occupation: Administration</div>
          <div class="Location"> Location: Paris</div><br>
          <p> We present to you our italian member Mickael, he's passionate about big mammals, so if you have a big animal at home, he'll take great care of them! <br> His morning routine is waking up at 5 AM, comes in the shop to take the big dogs for a run! <br> His email address: liam@pet.com</p>
        </div>
      </div>

      <div class="bloc">
        <img src="static/media/work11.jpg"  id="img"> 
        <div class="box">
          <h2>Sasha Plamen</h2>
          <div class="Occupation"> Occupation: Pets Care</div>
          <div class="Location"> Location: Paris</div> <br>
          <p> We present to you our italian member Mickael, he's passionate about big mammals, so if you have a big animal at home, he'll take great care of them! <br> His morning routine is waking up at 5 AM, comes in the shop to take the big dogs for a run! <br> Their email address: Sasha@pet.com</p>
        </div>
      </div>

      <div class="bloc">
        <img src="static/media/work12.jpg"  id="img"> 
        <div class="box">
          <h2>Leandre Carré</h2>
          <div class="Occupation"> Occupation: Pets Care</div>
          <div class="Location"> Location: Paris</div> <br>
          <p> We present to you our italian member Mickael, he's passionate about big mammals, so if you have a big animal at home, he'll take great care of them! <br> His morning routine is waking up at 5 AM, comes in the shop to take the big dogs for a run! <br> His email address: leandre@pet.com</p>
        </div>
      </div>
  
  
    </div>
    
    <%- include("partial_footer.ejs"); %>

