
<div class="rightcol">
    <h2>Reviews from owners!</h2>
    <div class="bloc">
      <h4>Mathilda Simons</h4>
      <p>My cat had an amazing time with the others! My Tilly came back so happy and energised!</p>
    </div>
              
    <div class="bloc">
      <h4>Follow us on our socials!</h4>
      <p>If social media isn't your thing, write to us! <br> 40 Dohany utca <br> Budapest 1074 <br> Hungary
      </p>
    </div>
    </div>
    </div>
    
    <div class="footer">
    <a href="/"><button>Home</button></a>
    </div>
    
    </body>
    
    </html>