<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/static/style.css">

</head>

<div class="header">
  <img src="static/media/header.jpg" style="width: 100%;" >
  <div class="header-txt"> WELCOME TO UNITED ANIMALIA</div>
</div>


    <div class="navigation">
        <a href="/about">About us</a>
        <a href="/meet_staff">Meet the staff!</a>
        <a href="/shelters">Shelters</a>
        <a href="/auth/log_in">Log In</a> 
        <a href="/auth/sign_up">Sign up</a>
    </div>