<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="../static/style.css">

</head>

<div class="header">
  <img src="../static/media/header.jpg" style="width: 100%;" >
  <div class="header-txt"> WELCOME TO UNITED ANIMALIA</div>
</div>

<body>
      <div class="navigation">
        <a href="/about">About us</a>
        <a href="/meet_staff">Meet the staff!</a>
        <a href="/shelters">Shelters</a>
        <a href="/auth">Log In</a> 
        <a href="/auth/sign_up">Sign up</a>
        <a href="/edit">ADMIN EDIT</a>
    </div>

    <div class="row">
      <div class="leftcol">
        <div class="bloc">
          <a href="/about">About us</a>
          <p>Get to know us a bit more!</p>
        </div>
        <div class="bloc">
          <a href="/shelters">Shelters</a>
          <p>Wondering where we work? Or where you can send your pets to have some playtime? Click here!</p>
        </div>
      </div>
    
    