
<div class="rightcol">
  
  <h2>Reviews from owners!</h2>

<div class="vertical_menu">

    <div class="bloc">
      <h4>Mathilda Simons</h4>
      <a>My cat had an amazing time with the others! My Tilly came back so happy and energised!</a>
    </div>

    <div class="bloc">
      <h4>Sigfrid Aditya</h4>
      <a>Many thanks to Mandy and the whole team at United Animalia. <br> This was the first time that our 12 year old dog, a bichon frise, had ever stayed in a kennel environment.  And he is now blind and diabetic, requiring injections twice a day and very careful diet management. <br>
        I was very nervous on the drop-off day, but the staff could not have been more reassuring or friendlier, which made me much more at ease with the whole experience.  Our dog settled in straight away and looked very comfortable.<br> 
        He stayed at UA for a week, while we were on holiday. Every day we had fantastic communication from Sandy in the form of pictures, videos, texts and phone calls.  It made our holiday.  We were able to relax and enjoy ourselves knowing he was being looked after by such a caring person and team. <br> </a>
    </div>

    <div class="bloc">
      <h4>Sara Zyniet</h4>
      <a>We would like to say a huge thank you to Mickael and everyone at United Animalia who looked after our two poodles for us whilst we were away. <br>
        We could see when we came to collect them that not only had they been exceptionally well cared for but that they were exceptionally happy and had clearly had the most wonderful holiday too! <br> </a>
    </div>

    <div class="bloc">
      <h4>David Taimi</h4>
      <a>Our very nervous bird stayed at United Animalia. He was very well cared for by the exceptionally friendly and patient staff. Would recommend. <br> </a>
    </div>
  </div>
  </div>
<br><br><br>
  <div class="footer">
    <center><a href="/"><button class="homebtn" >Home</button></a></center>
  </div>
    
  </body>
    
</html>