<%- include("partial_header.ejs"); %>



<div class="midcol">
  <div class="bloc">
    <p>Here you can add a pet to the database!</p>
    <form id="petCreate" action="/edit/pet/finishadd" method="post">
      Owner's Name: <input type="text" name="owner_name"><br><br>
      Pet's Name: <input type="text" name="pet_name"><br><br>
      Pet's Specie: <input type="text" name="pet_specie"><br><br>
      Pet's Age: <input type="text" name="pet_age"><br><br>
      Pet's Diet: <input type="text" name="pet_diet"><br><br>
      <input type="submit" onclick="FUNCTION CREATE PET" value="Submit">
    </form>
  </div>
</div>

<%- include("partial_footer.ejs"); %>


