<%- include("partial_header.ejs"); %>


  <div class="midcol">
    <div class="bloc">
      <p>Please, give us the pet's ID you would like to remove from the database.</p> <br>
      <form id=petDelete action="/edit/pet/finishdel">
        Enter pet ID: <input type="text" name="petID"> <br>
        <input type="submit" onclick=""FONCTION DELETE PET"" value="Submit">
      </form>
    </div>
  </div>


  <%- include("partial_footer.ejs"); %>
