<%- include("partial_header.ejs"); %>


       <div class="midcol">
          <div class="bloc">
             <h2>BUDAPEST</h2>
             <img src="static/media/Buda.jpg" alt="Budapest" width="100%">
             <p>Welcome to Hungary's capital! <br>Budapest is famous for its rich culture, underground caves, staggering architecture, and for being the Spa Capital of the World.</p>
          </div>
          
          <div class="bloc">
             <h2>LONDON</h2>
             <img src="static/media/London.jpg" alt="London" width="100%">
             <p> This great world city is far more than just the capital of the United Kingdom of Great Britain and Northern Ireland. <br> London is bustling, vibrant, multicultural and cosmopolitan. London is both old and new, a place where traditional pubs rub shoulders with the newest cocktail bars. Its most ancient castle is right next door to its newest skyscrapers. London's energy, as 9 million people go about their everyday lives, is tangible in every journey on the Underground and every walk along the banks of the River Thames. From the palaces of shopping to the real Buckingham Palace, London really does have it all.</p>
          </div>
    
          <div class="bloc">
             <h2>OSLO</h2>
             <img src="static/media/Oslo.jpg" alt="Oslo" width="100%">
             <p>Oslo is the capital of Norway, as well as the economic & governmental centre of the country 
                the largest city in Norway, with a population of some 600 000 inhabitants. <br>
                The city is beautifully located by the Oslo fjord, with scenic islands and an extensive waterfront. <br><br>
                
                Oslo is the home of the Norwegian Royal family.
                The King and the Queen live in the Royal palace, located at the upper end of Oslo’s main street, Karl Johan. <br><br>
                Oslo’s location gives the city natural qualities you may not expect from a capital, within the city limits you can go skiing, swimming and kayaking as well as make excursions to picturesque islands.</p>
          </div>

          <div class="bloc">
            <h2>Paris</h2>
            <img src="static/media/Paris.jpg" alt="Paris" width="100%">
            <p>Paris is one of the most beautiful cities in the world. <br> It is known worldwide for the Louvre Museum, Notre-Dame cathedral, and the Eiffel tower. It has a reputation of being a romantic and cultural city. <br> The city is also known for its high-quality gastronomy and the terraces of its cafés.</div>
         <button style="background-color: rgb(0,0,0); width: 20%; position: center;" onclick="history.back()">Go Back</button>

       </div>
       
<%- include("partial_footer.ejs"); %>
