<%- include("partial_header2.ejs"); %>



  <div class="midcol">
    <div class="bloc">
      <p>Here you can add a shelter to the database!</p>
      <form id="shelterCreate" action="/Admin/shelter/finishadd" method="post">
        Shelter Grade: <select type="text" name="shelter_grade">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select><br><br>
        Shelter Equipment: <select type="text" name="shelter_equipment">
          <option>minimum</option>
          <option>average</option>
          <option>good</option>
          <option>well equipped</option>
        </select><br><br>
        Maximum number of pets possible : <input type="text" name="shelter_nbr_max_of_pets"><br><br>
        Shelter Size: <select type="text" name="shelter_size"> 
          <option>Very small</option>
          <option>Small</option>
          <option>Medium</option>
          <option>Large</option>
          <option>Very large</option>
        </select>><br><br>
        Shelter shelter location: <input type="text" name="shelter_location"> <br><br>
        <input type="submit" onclick=""FUNCTION CREATE SHELTER"" value="Submit">
      </form>
      <button style="background-color: rgb(0,0,0); width: 20%; position: center;" onclick="history.back()">Go Back</button>
    </div>
  
  </div>
  <%- include("partial_footer.ejs"); %>
