<%- include("partial_header.ejs"); %>


  <div class="midcol">
    <div class="bloc">
      <p>Please, give us the shelter's ID you would like to remove from the database.</p> <br>
      <form id=shelterDelete action="/edit/shelter/finishdel" method="post">
        Enter shelter ID: <input type="text" name="shelter_id"> <br> <br>
        <input type="submit" onclick=""FONCTION DELETE SHELTER"" value="Submit">
      </form>
    </div>
  </div>


  <%- include("partial_footer.ejs"); %>
