<%- include("partial_header.ejs"); %>

<div class="row">
  <div class="leftcol">
    <div class="bloc">
      <a href="/about">About us</a>
      <p>Get to know us a bit more!</p>
    </div>
    <div class="bloc">
      <a href="/shelters">Shelters</a>
      <p>Wondering where we work? Or where you can send your pets to have some playtime? Click here!</p>
    </div>
  </div>

  <div class="midcol">
    <div class="bloc">
      <h2>GROOMING AND SPA</h2>
      <h5>Stephanie Guill, Nov 7, 2022</h5>
      <img src="static/media/dog_spa.jpg" style="padding: 20px; width: 100%;"></img>
      <p>Opened on the 12th July 2014, our state of the art Grooming Parlour offers everything your regular grooming parlour has to offer but with a very special twist; your pooches will be thoroughly pampered whilst in our care and they will be able to relax and enjoy the best spa experiences ever. <br> Our Grooming Parlour boasts a viewing gallery where you can see your pampered pooch being spoilt, reflecting the transparency of our services.</p>
    </div>

    <div class="bloc">
      <h2>Feeling lonely when you're at work? Bring him in for the day!</h2>
      <h5>Corrina Williams, Sep 9, 2022</h5>
      <img src="static/media/day_care.jpg" style="padding: 20px; width: 100%";></img>
      <p> Our day care centre has been created to offer our canine friends the best day care experience ever. <br> We guarantee that there is no other licensed day care centre like ours in our shelters. <br> Your dog, our guest, will enjoy the facilities at United Animalia Canine Country Club which include their own private room, 5 acres of fully enclosed woodland, enclosed grass paddocks, splash pools, an outdoor agility arena and much more. <br>
        Each guest’s day will be tailored to suit their individual needs; from the quieter dog that prefers to relax in the comfort of their room to the high energy dog that prefers to be out playing with his friends. Whichever it may be, every dog will return home happy and will be excited to see our chauffeur return to collect them the following morning. You’ll see from our customer testimonials that our dedicated team is passionate about setting the highest standards of animal care. Extra daily activities can include a visit to our grooming parlour & spa or training with one of our qualified dog trainers.
        Our fleet of Doggy Day Care vehicles has been equipped with your pet’s safety and comfort in mind. Our qualified and trained chauffeurs will collect your dog in the morning and bring them back in the evening after an exciting and fun day at United Animalia.</p>
    </div>
  </div>

  <div class="rightcol">
    <h2>Reviews from owners!</h2>
    <div class="bloc">
      <h4>Mathilda Simons</h4>
      <p>My cat had an amazing time with the others! My Tilly came back so happy and energised!</p>
    </div>
              
    <div class="bloc">
      <h4>Follow us on our socials!</h4>
      <p>If social media isn't your thing, write to us! <br> 40 Dohany utca <br> Budapest 1074 <br> Hungary
      </p>
    </div>
  </div>
</div>

<div class="footer">
  <a href="/"><button>Home</button></a>
</div>

</body>

</html>