<%- include("partial_header2.ejs"); %>

<div class="midcol">
    <div class="bloc">

        <center><h1>Perfect your demand has been transmitted to the shelter, you have 5 days to go get your pet</h1></center>

    </div>
</div>

<%- include("partial_footer.ejs"); %>