<%- include("partial_header2.ejs"); %>

<div class="midcol">
    <div class="bloc">

        <center><h1>Perfect, thank you for your inscription, your registration is confirm, you have 10 days to come drop your pet</h1></center>

    </div>
</div>

<%- include("partial_footer.ejs"); %>