
* {
	box-sizing: border-box;
}

body {
	padding: 10px;
  background: rgb(199, 180, 167);
  font-family: Arial
	}

.header{
  position: relative;
}

.header-txt {
  position: absolute;
  font-weight: 500;
  font-size: 3vh;
  top: 40%;
  left: 50%;
}
	
.leftcol{
	float: left;
	background-color: rgb(199, 180, 167);
	width: 15%;
	padding: 20px;
}

.midcol{
    float: left;
    width: 70%;
}



.box::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.box{
  padding: 0px 16px;
}

.bloc{
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.title {
  color: grey;
}

.rightcol{
  float: left;
  width: 15%;
  background-color: rgb(199, 180, 167);
	padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  }
  
.footer{
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}


@media screen and (max-width: 800px) {
  .leftcol, .midcol, .rightcol, .header {   
    width: 100%;
    padding: 0;
  }
}
/* Same for the navigation bar */
@media screen and (max-width: 400px) {
  .navigation a {
    float: none;
    width: 100%;
  }
}

/* navigation bar */
.navigation {
    overflow: hidden;
    background-color: #333;
  }

.navigation a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
	text-decoration: none;
  }
  
.navigation a:hover {
  background-color: #ddd;
  color: black;
  }